body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.btn-outline-danger {
  color: #8C1515;
  border-color: #8C1515;
}

button.btn-outline-danger:hover {
  background-color: #8C1515;
  border-color: #8C1515;
}

button.btn-info {
  background-color: #8C1515;
  border-color: #8C1515;
}

.recharts-scatter .recharts-label-list text {
  font-size: 0.9em;
}

.recharts-cartesian-axis-tick {
  font-size: 0.9em;
}

.recharts-reference-area text.recharts-label {
  font-size: 0.9em;
  color: #666;
}

.recharts-reference-area path {
  fill: #ddd;
}